{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/working-group.css') %}
{% endblock %}

{% block main %}

  <main class="ap--main ap-t-working-groups">

  <section class="ap--stage ap--container-fluid">
    {% do doc.styles.addCssFile('css/components/organisms/stage.css') %}

    <div class="ap-o-stage">
      <div class="ap--container-fluid">
        <div class="ap-o-stage-content">
          <h1 class="ap-o-stage-content-headline">Working Groups</h1>
          <h2 class="ap-o-stage-content-subline">Encouraging More Voices in AMP</h2>
        </div>
        <div class="ap-o-stage-image">
          <amp-img alt=""
              src="/static/img/topsection_working_groups.png"
              height="435"
              width="800"
              layout="responsive">
          </amp-img>
        </div>
      </div>
    </div>
  </section>

  <div class="ap-o-working-groups">
    <section class="ap-o-working-groups-intro">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <h4>AMP's Working Groups are:</h4>
    </section>
    <section class="ap-o-working-groups-content">
      <div class="ap-o-working-groups-content-filter">
        <ul>
          {% for group in g.collection('/content/amp-dev/community/working-groups').list_docs(locale=doc.locale) %}
          <li class="ap-o-working-groups-content-filter-bubble {% if group.name in request.path %} active {% endif %}">
            <a href="{{ g.doc('/content/amp-dev/community/working-groups/' + group.name, locale=doc.locale).url.path }}">{{ group.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="ap-o-working-groups-content-container">
        <div class="ap-o-group">
          <div class="ap-o-group-icon">
            <div class="ap-a-ico">
              {% do doc.icons.useIcon('icons/wrench.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wrench"></use></svg>
            </div>
          </div>

          <section class="ap-o-group-section ap-o-group-description">
            <p>Working Group</p>
            <h2>{{ doc.name }}</h2>
            <p>{{ doc.description }}</p>
            <p>The facilitator of {{ doc.name }} is: <a href="#">@nainar</a></p>
            <div class="ap-o-group-description-connect">
              <h4>Get in touch:</h4>
              <div class="ap-m-working-groups-button ap-m-working-groups-button-slack">
                <a class="ap-m-lnk" href="#">
                  <div class="ap-a-ico">
                    {% do doc.icons.useIcon('icons/slack-logo.svg') %}
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#slack-logo"></use></svg>
                  </div>
                </a>
              </div>
              <div class="ap-m-working-groups-button ap-m-working-groups-button-github">
                <a class="ap-m-lnk" href="#">
                  <div class="ap-a-ico">
                    {% do doc.icons.useIcon('icons/github-logo.svg') %}
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#github-logo"></use></svg>
                  </div>
                </a>
              </div>
            </div>
          </section>

          {% if doc.issues %}
          <section class="ap-o-group-section ap-o-group-issues">
            <h3>Current Issues</h3>
            {% if doc.issues|length > 3 %}
            <input type="checkbox" id="load-more-checkbox"/>
            {% endif %}
            <div class="ap-o-group-issues-container">
              {% for issue in doc.issues %}
              <a href={{ issue.html_url }} class="ap-o-issue" target="_blank" rel="noopener">
                <div class="ap-o-issue-icon">
                  <div class="ap-a-ico">
                    {% do doc.icons.useIcon('icons/exclamation.svg') %}
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#exclamation"></use></svg>
                  </div>
                </div>
                <div class="ap-o-issue-text">
                  <div class="ap-o-issue-text-title">
                    <h4>{{ issue.title }}</h4>
                    {% for label in issue.labels %}
                    <div class="ap-a-github-label" style="color: #{{ label.txt_color }}; background-color: #{{ label.background_color }};">
                      {{ label.name }}
                    </div>
                    {% endfor %}
                  </div>
                  <p class="ap-o-issue-text-body">
                    #{{ issue.number }} opened on {{ issue.created_at }} by @{{ issue.facilitator }}
                  </p>
                </div>
              </a>
              {% endfor %}
            </div>
            {% if doc.issues|length > 3 %}
            <label class="ap-a-btn" for="load-more-checkbox">
              <span class="unloaded">View all</span>
              <span class="loaded">View less</span>
            </label>
            {% endif %}
          </section>
          {% endif %}

          <section class="ap-o-group-section ap-o-group-members">
            <h3>Members</h3>
            <div class="ap-o-group-members-wrapper">
              {% for member in doc.members %}
              <div class="ap-o-group-members-member">
                <amp-img class="ap-o-group-members-member-img"
                    src={{ member.img_url }} width="60" height="60" layout="responsive"></amp-img>
                <div class="ap-o-group-members-member-text">
                  <h4>Naina Raisinghani</h4>
                  <a href="#">@{{ member.login }}</a>
                </div>
              </div>
              {% endfor %}
            </div>
            <p><a href={{ doc.html_url }}>The GitHub Team</a> lorem ipsum dolor sit amet, consectetur</p>
          </section>

          <section class="ap-o-group-section ap-o-group-channels">
            <h2>Communication Channels</h2>
            <div class="ap-o-group-channels-item ap-o-group-channels-item-slack">
              <div class="ap-o-group-channels-item-icon ap-o-group-channels-item-slack-icon">
                <div class="ap-a-ico ap-m-lnk-icon">
                  {% do doc.icons.useIcon('icons/slack.svg') %}
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#slack"></use></svg>
                </div>
              </div>
              <div class="ap-o-group-channels-item-text">
                <h4>Public Slack Channel</h4>
                <p><code>#wg-codeofconduct</code></p>
                <div class="ap-m-working-groups-button ap-m-working-groups-button-slack">
                  <a class="ap-m-lnk" href="#">
                    <div class="ap-a-ico ap-m-lnk-icon">
                      {% do doc.icons.useIcon('icons/slack.svg') %}
                      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#slack"></use></svg>
                    </div>
                    <span>Add to Slack</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="ap-o-group-channels-item ap-o-group-channels-item-hangout">
              <div class="ap-o-group-channels-item-icon ap-o-group-channels-item-hangout-icon">
                <div class="ap-a-ico">
                  {% do doc.icons.useIcon('icons/bitmap.svg') %}
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bitmap"></use></svg>
                </div>
              </div>
              <div class="ap-o-group-channels-item-text">
                <h4>Google Hangout</h4>
                <div class="ap-m-working-groups-button ap-m-working-groups-button-hangout">
                  <a class="ap-m-lnk" href="#">
                    <div class="ap-a-ico ap-m-lnk-icon">
                      {% do doc.icons.useIcon('icons/camera.svg') %}
                      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#camera"></use></svg>
                    </div>
                    <span>Join Hangout</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="ap-o-group-channels-item ap-o-group-channels-item-email">
              <div class="ap-o-group-channels-item-icon ap-o-group-channels-item-email-icon">
                <div class="ap-a-ico">
                  {% do doc.icons.useIcon('icons/amp-email.svg') %}
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-email"></use></svg>
                </div>
              </div>
              <div class="ap-o-group-channels-item-text">
                <h4>Email</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetur</li>
                  <li>Lorem ipsum dolor sit amet, consectetur</li>
                  <li>Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet, consectetur</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsum dolor sit amet, consectetur ipsum dolor sit amet, consectetur.</p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
    <section class="ap-o-working-groups-related">
      <h2>Other ways to get involved with AMP</h2>
      <div class="ap-o-working-groups-related-item">
        <h3>Contribute to AMP</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="ap-o-benefits-overview-link">
          <a href="../documentation/guides-and-tutorials/learn/intro-to-amphtml-ads.md" class="ap-m-lnk ap-m-lnk-square">
            <div class="ap-a-ico ap-m-lnk-icon">
              {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
            </div>
            <span class="ap-m-lnk-text">Read on about AMP ads</span>
          </a>
        </div>
      </div>
      <div class="ap-o-working-groups-related-item">
        <h3>Governance Body</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#" class="ap-m-lnk ap-m-lnk-square">
            <div class="ap-a-ico ap-m-lnk-icon">
              {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
            </div>
            <span class="ap-m-lnk-text">Read on about AMP ads</span>
          </a>
        </div>
    </section>
  </div>
</main>
{% endblock %}
