{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/working-group.css') %}
{% endblock %}

{% block main %}

  <main class="ap--main ap-t-working-groups">

  <section class="ap--stage ap--container-fluid">
    {% do doc.styles.addCssFile('css/components/organisms/stage.css') %}

    <div class="ap-o-stage">
      <div class="ap--container-fluid">
        <div class="ap-o-stage-content">
          <h1 class="ap-o-stage-content-headline">Working Groups</h1>
          <h2 class="ap-o-stage-content-subline">Encouraging More Voices in AMP</h2>
        </div>
        <div class="ap-o-stage-image">
          <amp-img alt="AMP Working Group"
              media="(min-width: 670px)"
              width="800"
              height="435"
              src="/static/img/working-groups-top-desktop.png"
              layout="responsive">
          </amp-img>
          <amp-img alt="AMP Working Group"
              media="(max-width: 669px)"
              width="600"
              height="669"
              src="/static/img/working-groups-top.png"
              layout="responsive">
          </amp-img>
        </div>
      </div>
    </div>
  </section>

  <div class="ap-o-wg">
    <section class="ap-o-wg-intro">
      <p>An AMP Working Group is a segment of the community with knowledge/interest in specific area pf AMP. Working Groups are created by AMPS's Technical Steering Committee.</p>
      <p>Most Working Groups provide bi-weekly status updates and present quarterly high-level updates in round-robin fashion at Design Reviews.</p>
      <h4>AMP's Working Groups are:</h4>
    </section>
    <section class="ap-o-wg-content">
      <div class="ap-o-wg-filter">
        <ul>
          {% for group in g.collection('/content/amp-dev/community/working-groups').list_docs(locale=doc.locale) %}
          <li class="ap-o-wg-filter-bubble {% if group.name in request.path %} active {% endif %}">
            <a href="{{ g.doc('/content/amp-dev/community/working-groups/' + group.name, locale=doc.locale).url.path }}">{{ group.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="ap-o-wg-content-container">
        <div class="ap-o-wg-group">
          <div class="ap-o-wg-group-icon">
            <div class="ap-a-ico">
              {% do doc.icons.useIcon('icons/wrench.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wrench"></use></svg>
            </div>
          </div>

          <section class="ap-o-wg-group-section ap-o-wg-group-description">
            <p>Working Group</p>
            <h2>{{ doc.name }}</h2>
            <p>{{ doc.description }}</p>
            <p>The facilitator of {{ doc.name }} is: <a href="#">@placeholder</a></p>
            <div class="ap-o-wg-group-description-connect">
              <h4>Get in touch:</h4>
              <div class="ap-o-wg-btn ap-o-wg-btn-slack">
                <a class="ap-m-lnk" href="https://docs.google.com/forms/d/e/1FAIpQLSd83J2IZA6cdR6jPwABGsJE8YL4pkypAbKMGgUZZriU7Qu6Tg/viewform?fbzx=4406980310789882877" target="_blank" rel="noopener">
                  <div class="ap-a-ico ap-a-ico-full-width">
                    {% do doc.icons.useIcon('icons/slack-logo.svg') %}
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#slack-logo"></use></svg>
                  </div>
                </a>
              </div>
              <div class="ap-o-wg-btn ap-o-wg-btn-github">
                <a class="ap-m-lnk" href={{ doc.html_url }} target="_blank" rel="noopener">
                  <div class="ap-a-ico ap-a-ico-full-width">
                    {% do doc.icons.useIcon('icons/github-logo.svg') %}
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#github-logo"></use></svg>
                  </div>
                </a>
              </div>
            </div>
          </section>

          {% if doc.issues %}
          <section class="ap-o-wg-group-section">
            <h3>Current Issues</h3>
            {% if doc.issues|length > 3 %}
            <input type="checkbox" id="load-issues-checkbox"/>
            {% endif %}
            <div>
              {% for issue in doc.issues %}
              <a href={{ issue.html_url }} class="ap-o-wg-issue" target="_blank" rel="noopener">
                <div class="ap-o-wg-issue-icon">
                  <div class="ap-a-ico">
                    {% do doc.icons.useIcon('icons/exclamation.svg') %}
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#exclamation"></use></svg>
                  </div>
                </div>
                <div class="ap-o-wg-issue-text">
                  <div class="ap-o-wg-issue-text-title">
                    <h4>{{ issue.title }}</h4>
                    {% for label in issue.labels %}
                    <div class="ap-o-wg-gh-label" style="color: #{{ label.txt_color }}; background-color: #{{ label.background_color }};">
                      {{ label.name }}
                    </div>
                    {% endfor %}
                  </div>
                  <p>#{{ issue.number }} opened on {{ issue.created_at }} by @{{ issue.facilitator }}</p>
                </div>
              </a>
              {% endfor %}
            </div>
            {% if doc.issues|length > 3 %}
            <label class="ap-a-btn ap-o-wg-load-btn" for="load-issues-checkbox">
              <span>View all</span>
            </label>
            {% endif %}
          </section>
          {% endif %}

          <section class="ap-o-wg-group-section">
            <h3>Members</h3>
            <div class="ap-o-wg-grid">
              {% for member in doc.members %}
              <a href="{{ member.html_url }}" target="_blank" rel="noopener" class="ap-o-wg-member">
                <amp-img class="ap-o-wg-member-img"
                    src={{ member.img_url }} width="60" height="60" layout="responsive"></amp-img>
                <div class="ap-o-wg-member-text">
                  <h4>Name Placeholder</h4>
                  <span>@{{ member.login }}</span>
                </div>
              </a>
              {% endfor %}
            </div>
            <p><a href={{ doc.html_url }} target="_blank" rel="noopener">The GitHub Team</a> also includes {{ doc.name }} WG members.</p>
          </section>

          <section class="ap-o-wg-group-section">
            <h2>Communication Channels</h2>
              <div class="ap-o-wg-channel">
                <div class="ap-o-wg-channel-icon ap-o-wg-channel-icon-slack">
                  <div class="ap-a-ico ap-m-lnk-icon">
                    {% do doc.icons.useIcon('icons/slack.svg') %}
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#slack"></use></svg>
                  </div>
                </div>
                <div class="ap-o-wg-channel-text">
                  <h4>Public Slack Channel</h4>
                  <p><code>#wg-codeofconduct</code></p>
                  <div class="ap-o-wg-btn ap-o-wg-btn-slack">
                    <a class="ap-m-lnk" href="https://docs.google.com/forms/d/e/1FAIpQLSd83J2IZA6cdR6jPwABGsJE8YL4pkypAbKMGgUZZriU7Qu6Tg/viewform?fbzx=4406980310789882877" target="_blank" rel="noopener">
                      <div class="ap-a-ico">
                        {% do doc.icons.useIcon('icons/slack.svg') %}
                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#slack"></use></svg>
                      </div>
                      <span>Add to Slack</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="ap-o-wg-channel">
                <div class="ap-o-wg-channel-icon ap-o-wg-channel-icon-hangout">
                  <div class="ap-a-ico">
                    {% do doc.icons.useIcon('icons/bitmap.svg') %}
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bitmap"></use></svg>
                  </div>
                </div>
                <div class="ap-o-wg-channel-text">
                  <h4>Google Hangout</h4>
                  <div class="ap-o-wg-btn ap-o-wg-btn-hangout">
                    <a class="ap-m-lnk" href="#">
                      <div class="ap-a-ico">
                        {% do doc.icons.useIcon('icons/camera.svg') %}
                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#camera"></use></svg>
                      </div>
                      <span>Join Hangout</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="ap-o-wg-channel">
              <div class="ap-o-wg-channel-icon ap-o-wg-channel-icon-email">
                <div class="ap-a-ico">
                  {% do doc.icons.useIcon('icons/amp-email.svg') %}
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-email"></use></svg>
                </div>
              </div>
              <div class="ap-o-wg-channel-text">
                <h4>Email</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetur</li>
                  <li>Lorem ipsum dolor sit amet, consectetur</li>
                  <li>Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet, consectetur</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsum dolor sit amet, consectetur ipsum dolor sit amet, consectetur.</p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
    <section class="ap-o-wg-related">
      <h2>Other ways to get involved with AMP</h2>
      <div class="ap-o-wg-related-item">
        <h3>Contribute to AMP</h3>
        <p>The AMP Project would not be possible without help from all members of the community whether you are a developer, content creator or provider of services relevant to AMP There are many ways for you to contribute.</p>
        <div class="ap-o-benefits-overview-link">
          <a href="{{ g.doc('/content/amp-dev/documentation/guides-and-tutorials/contribute/index.md', locale=doc.locale).url.path }}" class="ap-m-lnk ap-m-lnk-square">
            <div class="ap-a-ico ap-m-lnk-icon">
              {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
            </div>
            <span class="ap-m-lnk-text">Contribute</span>
          </a>
        </div>
      </div>
      <div class="ap-o-wg-related-item">
        <h3>Governance Body</h3>
        <p>Learn more about the Advisory Committee and Technical Steering Committee.</p>
          <a href="{{ g.doc('/content/amp-dev/community/governance.md', locale=doc.locale).url.path }}" class="ap-m-lnk ap-m-lnk-square">
            <div class="ap-a-ico ap-m-lnk-icon">
              {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
            </div>
            <span class="ap-m-lnk-text">Governance</span>
          </a>
        </div>
    </section>
  </div>
</main>
{% endblock %}
