/*

###########################
### TEMPLATE: roadmap ###
###########################

### INFO:

*/
@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_color.scss';
@import 'components/atoms/_headline.scss';

@import 'components/templates/_default.scss';




.#{template('working-groups')} {
  background: color('whisper');

  .#{molecule('working-groups-button')} {
    height: 34px;
    border-radius: 4px;
    padding: 7px;
    color: color('white');
    margin: 0 15px;

    .#{atom('ico')} {
      margin-bottom: 0;
      padding: 0;
      fill: white;
    }

    &-github {
      background-color: black;
    }
    &-slack {
      background-color: purple;
    }
    &-hangout {
      background-color: green;
    }
  }

  .#{utility('stage')} {
    .#{organism('stage')} {
      margin-bottom: 50px;
      // height: 450px;

      &-content {
        margin: 15em 0 2em;

        @media (min-width: 768px) {
          margin: 7vw 0 11vw;
        }
      }
    }

    & + .#{utility('content')} {
      @media (min-width: 768px) {
        margin-top: -15%;
      }

      h1 {
        @include hl-xxlrg;
      }
    }
  }

  .#{utility('container-fluid')} {
    @include container-fluid;
  }

  .#{organism('working-groups')} {
    padding: 0 15px;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(24,1fr);
      grid-gap: 30px;
      padding: 0 2.5em;
    }

    &-intro {
      @media (min-width: 768px) {
        grid-column: 8/20;
      }
    }
    &-content {
      grid-column: 3/25;
      display: flex;
      flex-direction: column;
      padding: 0;

      @media (min-width: 768px) {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(22,1fr);
      }

      &-filter {
        @media (min-width: 768px) {
          grid-column: 1/5;
        }

        & ul {
          display: flex;
          padding: 0;
          list-style: none;
          overflow-x: scroll;
          -webkit-overflow-scrolling: touch;

          @media (min-width: 768px) {
            display: block;
            overflow-x: inherit;
          }

        }
        &-bubble {
          display: flex;
          align-items: center;
          height: 38px;
          margin: 10px 0;
          padding: 0 15px;
          border-radius: 19px;

          &:first-child {
            background-color: color('blue-ribbon');

            a {
              font-weight: bold;
              white-space: nowrap;
              color: color('white');
            }
          }

          &.active {
            // Move first child here
          }
        }
      }
      &-container {
        padding: 0 15px;
        background: color('white');
        box-shadow: 0 25px 40px 0 rgba(0,0,0,.05);

        @media (min-width: 768px) {
          grid-column: 6/22;
          display: grid;
          grid-template-columns: repeat(16,1fr);
          grid-gap: 30px;
          padding: 0;
        }
      }
    }
    &-related {
      padding: 0 15px;

      @media (min-width: 768px) {
        grid-column: 9/22;
        padding: 0;
      }
    }
  }
  .#{organism('group-content')} {
    grid-column: 2/16;
    padding: 2.5em 0;

    &-description {
      &-connect {
        display: flex;
        align-items: center;

        h4 {
          margin: 0;
        }
      }
    }
    &-issues {
      &-container {
        border-radius: 4px;
        background: color('gallery');
      }
    }
    &-members {
      &-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &-member {
        width: 49%;
        background: color('gallery');
        border-radius: 4px;
        margin-bottom: 2%;
        padding: 10px;

        &.active {
          background: color('mirage');
          color: white;
        }
      }
    }
    &-channels {
      &-item {
        background: color('gallery');
        margin-bottom: 1.4em;
        padding: 15px;
        border-radius: 4px;

        @media (min-width: 768px) {
          display: flex;
        }

        &-icon {
          height: 85px;
          width: 85px;
          margin-right: 15px;
          border-radius: 50%;
          background: green;
        }

        &-text {
          width: calc(100% - 100px);
        }
      }
    }
  }

  .#{utility('content')} {
    @include content;
    max-width: 600px;
    margin: 0 auto;
  }
}
